.menu-item {
  border-top: #F1F0EC3D 1px solid;
  padding: 16px;
}

ul.ingredients li {
  display: inline-block;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 500;
}

.menu-item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.menu-item-content button {
  margin-left: 15px;
}