.menu-item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-item-top h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item-top p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 22px;
  line-height: 26.4px;
  font-weight: 700;
}