.button {
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
  border: none;
  color: #F4F3F1F0;         
}

.button__regular {
  width:  100%;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28.8px;
  padding: 24px 16px;
  font-weight: 700;
}

.button__small {
  width: fit-content;
  padding: 8px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.4px;
  margin-right: 7px;
  margin-bottom: 7px;
  transition: transform 0.1s ease-in-out;
}

.button.margin-bottom {
  margin-bottom: 20px;
}

.button__small:active {
  transform: scale(0.95);
}

.button.in-cart {
  background: #353131;
}

.button__dark {
  background-color: #353131;
}

.button__transparent {
  background-color: transparent;
  border: 1px solid #F4F3F1F0; 
}

.button__soft-brown {
  background-color: #F1F0EC3D;
}

.button span {
  text-shadow: 1px 1px 2px #00000040;
}